.conteiner {
    width: 100%;
    background-color: var(--bg-color-main);
}

.wrapper {
    width: min(100%, 600px);
    padding-top: 48px;
    margin-inline: auto;
    overflow: auto;
}

.title {
    font-size: var(--fs-big);
    font-weight: var(--fw-bold);
    line-height: 3rem;
    padding: 20px;
    color: var(--color-main);
    border-radius: 10px;
}

.title:hover {
    background-color: var(--bg-color-accent);
}

.content {
    font-size: var(--fs);
    padding: 20px;
    font-weight: var(--fw-normal);
    line-height: 1.71rem;
    color: var(--color-main);
    border-radius: 10px;
}

.content:hover {
    background-color: var(--bg-color-accent);
}